html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 20px;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

img {
    width: 400px;
    border: 2px solid rgb(127, 111, 111);
}

h1 {
    background: rgb(2, 90, 2);
    margin: 0px;
    padding: 50px 10px;
    color: white;
    text-align: center;
    border-radius: 20%;
}

.menu {
    list-style: none;
    text-align: center;
    background-color: rgb(3, 159, 3);
    border-radius: 20%;
    margin: 3px;
    position: sticky;
    top: 0px;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: white;
}

.menu a:hover {
    background-color: rgb(2, 90, 2);
    border-radius: 20px;
}

h2 {
    background-color: rgb(144, 207, 144);
    margin: 3px;
    border-radius: 20%;
    text-align: center;
}

h3 {
    display: inline-block;
    background-color: rgb(200, 229, 200);
    padding: 15px;
    border-radius: 20%;
}